SEP3-dotnet/BlazorWASM/bin
SEP3-dotnet/BlazorWASM/obj


# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SEP3-dotnet.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mac desktop service store files
.DS_Store

**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml
