@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="title">
                <label> GREEN-UP DENMARK</label>
            </div>
            <div class="btn-group">
                <button> Create an event </button>
                <button> Create a report </button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>